/ div class="alert alert-info" role="alert"
/   | Kamu belum memulai transaksi!, Ayo lakukan pengisian pada Dompetmu
h1 style="margin-top: -20px;"
  | Hai, Selamat Datang!
p Ayo mulai lakukan pemeriksaan penyakit dengan menekan tombol dibawah
p
  =link_to "Mulai", consultations_path, class: 'btn btn-primary btn-lg', data: { turbolinks: false }
